<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Book Title</th>
            <th scope="col">Reserved</th>
            <th scope="col">Booking #</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row" colspan="4" class="text-center">No data returned</th>
        </tr>
    </tbody>
</table>